header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    border-bottom: 3px black solid;
    padding-bottom: 30px;
}
.header1 {
    color: lightgreen;
}
@media screen and (max-device-width : 480px) {
    header {
        margin-top: 20px;
		width: 100%;
    }
}