.card-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.card {
    border: 1px lightgray solid;
    border-radius: 5px;
    box-shadow: 0 0 5px #00000070;
    width: 250px;
    height: fit-content;
    margin: 25px 25px 25px 0;
    background: #31b57245;
    position: relative;
}
.card:hover {
    box-shadow: 0 0 6px darkslategray;
}
.card-content {
    padding: 0 25px 25px;
}
.card h4 {
    text-transform: capitalize;
    margin: 10px 0;
}
.pic {
    height: 250px;
    object-fit: cover;
    width: 100%;
}
#soldes {
    position: absolute;
    top: 2%;
    right: 5px;
    color: #fff;
    background-color: #00000070;
    width: fit-content;
    padding: 5px;
}
.water, .light {
    font-size: 12px;
}

@media screen and (max-device-width : 480px) {
    .content {
        padding: 25px 0 !important;
    }
    .card {
        margin: 25px auto 0;
		width: 100%;
    }
  }