.App {
	text-align: center;
    background-color: #282c34;
    min-height: 100vh;
	color: #fff;
}

.App-header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: calc(10px + 2vmin);
	color: white;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #61dafb;
	text-decoration: underline;
}
.survey-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
}